@use "sass:math";

$mobile: 568px;
$tablet: 768px;
$desktop: 990px;

$container: 1064px;

$border-radius: 8px;
$html-font-size: 16px;

@mixin responsiveMin($diplay) {
  @media (min-width: $diplay) {
    @content;
  }
}

@function toRem($size) {
  @return math.div($size, $html-font-size) * 1rem;
}

@mixin section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem 1rem;

  @include responsiveMin($tablet) {
    padding: 4rem 1rem;

    flex-direction: row;
    gap: 4rem;
  }
}
